h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

.bitmes{
    font-size: 12px;
    color:#666666;
    width: 90%;
    margin: 0 auto;
    line-height: 16px;
}
.platform{
    height: 100px;
    background: none;
}
.platform h2 span{
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.two{
    clear: both;
    width: 73%;
    margin: 0px auto;
}
.ser-left{
    float: left;
    background: url('../images/block/hover.png');
    background-size: 100%;
    color:#FFFFFF;
}
.ser-right{
    color: #99B3E4;
}

#feat{
    background: url('../images/block/feat.png');
    background-size: 100% 110%;
height: 638px;
}
.feimg{
    width: 160px;
    height: 160px;
    background: #203E92;
    position: absolute;
    left: -160px;
}
.feimg img{
    width: 94px;
    height: 92px;
    display: inline-block;
    margin: 23%;
}
.feames{
    float: right;
    background: #FFFFFF;
    width: 72%;
    position: relative;
    margin-top: 73px;
    padding-left: 83px;
}
.feames h1{
    background: none;
    padding-top: 88px;
    font-size: 20px;
}
.feames h1 span{
    font-size: 30px;
}
.langua{
    width: 70%;
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    padding-top: 56px;
    height: 449px;
}
@media (min-width: 770px){
    .pic-tag2{
        font-size: 20px;
    }
    .banner{
        background: url("../images/block/paban.png") no-repeat;
        background-size: 100%;
        height: 478px;
        position: relative;
    }
    .goblock{
        position: absolute;
        width:131px;
        height:30px;
        background:linear-gradient(96deg,rgba(75,124,234,1),rgba(84,174,241,1));
        border-image:linear-gradient(90deg, rgba(87,139,253,1), rgba(87,169,235,1)) 1 1;
        border-radius:15px;
        text-align: center;
        line-height: 30px;
        color:#FFFFFF;
        font-size: 14px;
        bottom: 20%;
        left: 18%;
    }
    .play{
        display: inline-block;
        width: 20px;
        height: 20px;
    }
    .pic-tag2 {
        left: 48%;
        line-height: 13px;
    }
    .none{
        margin-left: 48%;
    }
    #BID,#BIT{
        background: #F5F6FD;
    }
    .BIDleft{
        color:#333333;
        background: url("../images/block/bid.png") no-repeat;
        background-size: 100%;
        margin-top: 28px;
        padding-left: 18%;
    }
    .BIDleft .bidbig{
        font-size: 30px;
        padding-top: 10px;
    }
    .BIDleft .bidbig span{
        font-size:38px;
    }
    .BIDleft h6{
        font-size: 20px;
    }
    .mao{
        width: 28px;
        height: 25px;
        margin-left: -3%;
        margin-top: 20px;
    }
    .bidtit{
        font-size: 16px;
        line-height: 28px;
        font-weight: 600;
    }
    .bismess{
        width: 38%;
        font-size: 14px;
        color:#666666;
        line-height: 26px;
        
    }
    .num{
        padding-left: 0;
    }
    .privacy{
        margin-top: 14%;
        margin-left: -20%;
    }
    .appshow{
        display: none;
    }
    .scenario{
        background: url("../images/block/scebg.png") no-repeat;
        background-size: 100%;
        position: relative;
        height: 500px;
    }
    .scenario .none{
        width: 70px;
        margin-left: 47%;
    }
    .scenario .pic-tag2{
        left: 47%;
    }
    .secul{
        color:#FFFFFF;
        width: 65%;
        margin: 20px auto;
    }
    .secli{
        background: url('../images/block/line.png') no-repeat right 20px;
        height: 379px;
    }
    .secli h5{
        font-size: 16px;
        text-align: center;
        padding:17% 0;
    }
    .secli p{
        font-size: 14px;
        line-height: 20px;
        padding: 0 5%;
    }
    .secli:hover{
        background: url('../images/block/hover.png') no-repeat;
        background-size: 100% 100%;
    }
    .message{
        color:#999999;
        text-align: center;
        font-size: 14px;
        padding: 10px 0;
    }
    .bitmes{
        width: 56%;
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 15px;
    }
    .item6 .pic-tag2{
        left: 7%;
        font-size: 20px;
    }
    .bgabout{
        margin-bottom: 15px;
    }
    .imglist{
        clear:both;
        
        background: #F5F6FD;
    }
    .patul {
        width: 70%;
        margin: 0 auto;
        padding:0;
    }
    .patul li span{
        color:#FFFFFF;
        left: 10px;
        top: 23px;
    }
    #BIT{
        height: 680px;
    }
    .parli h6{
        font-size: 16px;
        color: #333333;
        padding-top: 30px;
        position: relative;
    }
    .patul li{
        margin:1% 10px;
        padding: 0 2%;
    }
    .parli p{
        padding-top: 15px;
    }
    .parli{
        width:288px!important;
        height:185px;
    }
    .pc_{
        width: 30px;
        height: 2px;
        background: #306CE4;
        margin-top: 10px;
        padding: 0!important;
    }
    .parli:hover{
        background:rgba(255,255,255,1);
        box-shadow:0px 0px 16px 0px rgba(139,139,139,0.17);
    }
    .parli:hover  span{
        color:#C4D8FF;
    }
    .parli:hover  .pc_{
        width: 100%;
    }
    #service{
        background: url("../images/block/seribg.png") no-repeat;
        background-size: 100%;
        position: relative;
        height: 544px;
    }
    .platform{
        width: 70%;
        color: #FFFFFF;
        padding: 0;
        margin: 0;
        margin-left: 13%;
    }
    .platmes{
        padding-left: 20%;
        padding-top: 20px;
    }
    .two{
        width: 63%;
        border:1px solid #30436D;
    }
    .ser-left{
        margin-left: -3%;
        height: 266px;
        margin-top: 40px;
        background-size: 96% 100%;
    }
    .ser-left h4{
        font-size: 18px;
        padding-top: 60px;
        text-align: center;
    }
    .ser-left p{
        font-size: 11px;
        line-height: 15px;
        padding: 40px 12%;
    }
    .ser-right dt{
        width: 65px;
        height: 65px;
        margin: 0;
    }
    .ser-right h5{
        font-size: 14px;
        padding:0 10px;
    }
    .ser-right p{
        color:#8A9CBE;
        font-size: 14px;
        line-height: 18px;
        padding-left: 10px;
        padding-top: 5px;
    }
    .ser-right{
        display: inline-block;
        width: 71%;
    }
.secdl{
    display: inline-block;
    width: 49%;
   padding:0 5%;
    margin: 0;
    border-bottom:1px solid #30436D;
}
.secdl:nth-child(odd){
    border-right:1px solid #30436D; 
}
.secdl:nth-child(3),.secdl:nth-child(4){
    border-bottom: none;
    padding-top: 0;
}

#plan .none{
    margin-left: 49%!important;
}
.pllist dt{
width: 99px;
height: 99px;
display: inline-block;
margin-top: 10px;
}
.pllist dd{
    display: inline-block;
    font-size: 14px;
    color:#333333;
    width: 52%;
    vertical-align:middle
    }
    #plan{
        background: url('../images/block/planbg.png');
        background-size: 100%;
        height: 484px;
    }
    .planshow{
        width: 73%;
        margin: 0 auto;
    }
    .pllist{
        margin-top: 40px;
        height: 136px;
    }
    .pllist:hover{
        background: url('../images/block/phover.png');
        background-size: 100%;
    }
    .pllist:hover dd{
        color:#FFFFFF;

    }
}


@media (max-width: 668px){
    .banner{
        background: url("../images/block/appban.png") no-repeat;
        background-size: 100%;
        position: relative;
    }
    .goblock{
        position: absolute;
        width: 156px;
        height: 28px;
        background:linear-gradient(96deg,rgba(75,124,234,1),rgba(84,174,241,1));
        border-image:linear-gradient(90deg, rgba(87,139,253,1), rgba(87,169,235,1)) 1 1;
        border-radius:20px;
        bottom: 8%;
        left: 30%;
        font-size: 14px;
        text-align: center;
        line-height: 28px;
        color:#FFFFFF;
    }
    .play{
        display: inline-block;
        width: 16px;
        height: 16px;
    }
    .mao{
        display: none;
    }
    .bidbig,.bidtit,.num{
        padding: 0 5%;
        padding-top: 10px;
    }
    #BID,#BIT{
        position: relative;
        overflow: hidden;
    }
    #BIT .pic-tag2{
        padding: 15px 0;
    }
    .pic-tag2{
        left: 38%;
        top: 0;
        
    }
    .bidbig span{
        font-size: 26px;
    }
    .bidbig{
        font-size: 16px;
        margin: 0;
    }
    .apptop{
        background: url("../images/block/left.png");
        background-size: 100%;
    }
    .bismess{
        padding: 0 5%;
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 10px;
    }
    .appshow{
        background: url(../images/block/rigbg.png) no-repeat;
        background-size: 212% 101%;
        width: 100%;
        height: 300px;
    }
    .appshow img{
        width: 300px;
        float: right;
    }
    .privacy{
       height: auto; 
       width: 150%;
       margin-left: -22%;
       margin-top: 30px;
    }
    .scenario{
        position: relative;
        background: url('../images/block/3.png') no-repeat;
        background-size: 100%;
        height: 610px;
    }
    .secul{
        margin: 20px auto;
    }
    .secli{
        width: 44%;
        margin-left: 15px;
        margin-top: 15px;
        background:#FFFFFF;
        height: 250px;
        border-top: 2px solid #0066FF;
        border-radius: 3px;
        padding: 0 15px;
    }
    .secli h5{
        font-size: 12px;
        text-align: center;
        padding: 10px 0;
    }
    .secli p{
        font-size: 12px;
        line-height: 16px;
        color: #666666;

    }
    .white{
        margin-top: 30px;
        left: 33%;
    }
    .message{
        text-align: center;
        color:#999999;
        font-size: 11px;
        padding:10px 0;
    }
    .item6,.imglist{
        position: relative;
        background: #F5F6FD;
    }
 .imglist{
     margin-top: 0;
     height: 280px;
 }
    .item6 .pic-tag2,.imglist .pic-tag2{
        left: 32%;
    }
    .item6-cont{
        padding-top: 0;
    }
    .patul li span{
        color:#C4D8FF;
    }
    .patul li{
        padding: 20px 6%;
        border-bottom: 1px solid #CCCCCC;
    }
    .patul li h6{
        display: inline-block;
        font-size: 14px;
        border-bottom: 1px solid #0066FF;
        padding-bottom: 5px;
    }
    .patul li p{
        font-size: 12px;
        padding-top: 10px;
    }
    .pc_{
        display: none;
    }
    #service{
        background: url("../images/block/seri.png") no-repeat;
        background-size: 100%;
        position: relative;
        height:650px;
    }
    .platform{
        color:#FFFFFF;
        margin-top: 15px;
    }
    .platform h2 span{
        margin-left: 0;
    }
    .platmes{
        padding: 10px 0;
        font-size: 11px;
        color:#8A9CBE;
        line-height: 18px;
        padding-left:15px;
    }
    .two{
        width: 91%;
        margin: 0 auto;
        border:1px solid #30436D;
    }
    .ser-left{
        margin-left: -6%;
        height: 188px;
        width: 150px;
        margin-top: 25%;
    }
    .ser-left h4{
        font-size: 12px;
        padding-top: 46px;
        padding-left: 12%;
    }
    .ser-left p{
        font-size: 11px;
        line-height: 15px;
        padding: 30px 12%;
    }
    .ser-right h5{
        font-size: 10px;
        padding:2px 5px;
    }
    .ser-right p{
        color:#8A9CBE;
        font-size: 7px;
        line-height: 15px;
        padding-left: 5px;
    }
    .ser-right{
        display: inline-block;
        width: 61%;
    }
.secdl{
   padding:5px 5%;
    margin: 0;
    border-bottom:1px solid #30436D;
}
.secdl:nth-child(4){
    border-bottom: none;
    padding-top: 0;
}
    .ser-right dt{
        width: 32.5px;
        height: 32.55px;
        margin: 0;
    }
    #plan{
        position: relative;
        background: #F5F6FD;
        height: 360px;
    }
    #plan .pic-tag2{
        left: 33%;
        top: 20px;
    }
    #service .white{
        margin-top: 10px;
    }
    .pllist{
        height: 60px;
        padding: 0;
    }
    .pllist dt{
        width: 45px;
        height: 45px;
        display: inline-block;
    }
    .pllist dd{
        display: inline-block;
        font-size: 12px;
        color:#333333;
        width: 60%;
        vertical-align:middle
    }
    .planshow{
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .feames{
        margin-top: 21px;
        padding-left: 15px;
        width: 90%;
    }
    #feat{
        background-size: 100%;
        height: 572px;
    }
    .feimg {
        width: 80px;
        height: 80px;
        left: 0;
        top: 0;
    }
    .feimg img {
        width: 46px;
        height: 47px;
        display: inline-block;
        margin: 23%;
    }
    .feames h1{
        padding-top: 105px;
        font-size: 15px;
    }
    .feames h1 span{
        font-size: 24px;
        background: none;
        display: inline-block;
    width: 75%;
    }
    .langua{
        padding-top: 20px;
        padding: 20px 11px 0 0;
        width: 100%;
        font-size: 10px;
        color: #666666;
        line-height: 15px;
    }
    .imglist .rig{
        top:25px;
    }
}