p{margin-bottom: 0;line-height: 26px;}
.item-msg p{color: #666666;}
.item2-list-title{
	position: relative;
	margin-top: 50px;
	min-height: 90px;
    margin-bottom: 20px;
}
.title-tag{
	font-size: 46px;
    position: absolute;
    left: 0;
    z-index: 1;
	font-weight:600;
	color:rgba(226,233,250,1);
}
.item2-list-title h2{
	font-size:30px;
	font-weight:400;
	color:rgba(51,51,51,1);
	position: absolute;
    z-index: 3;
    left: 20px;
    top: 15px;
 }
.item2-list-title h2 .line-bot{
	width:46px;
	height:7px;
	background:rgba(81,143,217,1);
    display: block;
    margin-top: 10px;
}
.item-img{
	background: url(../images/gbf-1/矩形570@2x.png)no-repeat;
    background-size: 100%;
    padding-top: 40px;
    margin-bottom: 20px;
    display: inline-block;
}
@media(min-width: 770px) {
.navbar-inverse {
	background: url(../images/gbf-1/nav-bj.png) no-repeat;
	background-size: 100%;
    border-radius: 0;
    border: none;
}
.navbar{margin-bottom: 0;}
.navbar-inverse .navbar-nav > li > a{
	color: #8A9CBE;
}
/*container*/
.item{
	background: #d8e3fd;
}
.item-msg{
	background: url(../images/gbf-1/组2@2x.png)no-repeat;
    background-size: 6%;
    padding-top: 20px;
    padding-left: 30px;
    text-indent: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.item-msg p{margin:0;line-height: 26px;}
.item-img{min-height: 200px;}
.item-img-list{
	width: 90%;
	margin:0 auto;
}
.item-img-list h2{
 	color: #fff;
    font-size: 20px;
    padding-left: 15px;
 }
 .item-img-list h2 span{
 	font-size: 14px;
    display: block;
    margin-top: 10px;
    color: #9FAAC7;
 }
}
@media(max-width: 770px) {
.navbar-inverse{background: #030B2E}
.item2-list-title{
	padding-top: 20px;
}
.item-img{background: none;}
.item-img-list h2{display: none;}
.item-img-list .list-img{padding:0;margin-bottom: 20px;}
}




