.navbar-right {
    float: right !important;
    margin-right: -15px;
    font-size: 16px;
    color: #fff;
    padding: 13px 0;
}

a {
    text-decoration: none !important;
}

.post-describe-msg {
    padding-bottom: 15px;
}

/*item-right*/
.post-describe-msg h6 {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    padding-bottom: 3px;
}

.post-describe-msg p {
    font-size: 14px;
    color: #666666;
    line-height: 26px;
}

.Contact {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #306CE4;
    line-height: 24px;
    margin: 30px 0;
}

@media(min-width: 770px) {
    .navbar-inverse {
        background: #12244C;
        background-size: 100%;
        border-radius: 0;
        border: none;

    }

    .navbar-inverse .container {
        padding: 15px 0;

    }

    .split {
        width: 90%;
        margin: 0 auto;
        border-bottom: 15px #eee dotted;
        margin-bottom: 30px;
    }

    /*container*/
    .item {
        background: #F4F8F9;
    }

    .item-left {
        padding: 0;
    }

    .item-left .row,
    .item-right {
        background: #ffffff;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .item-left1 {
        border-bottom: 1px solid #EBEBEB;
        margin: 0 10px;
        padding-bottom: 15px;
    }

    .item-left1:last-child {
        border: none;
        padding-bottom: 20px;
    }

    .item-left1 h2 {
        font-size: 16px;
        color: #333;
        font-weight: 600;
    }

    .item-left1 h2 .line-l {
        width: 2px;
        height: 18px;
        background: rgba(48, 108, 228, 1);
        display: inline-block;
        margin-right: 10px;
        vertical-align: bottom;
    }

    .item-left1 ul {
        display: flow-root;
    }

    .item-left1 ul li {
        float: left;
        width: 50%;
        font-size: 14px;
        font-weight: 400;
        padding: 8px 0 5px 10px;
    }

    .item-left1 ul li a {
        color: #666;
    }

    .item-left1 ul li a:hover,
    .item-left1 ul li.active a {
        color: #306CE4;
    }

    .item-right {}

    .post,
    .post-describe,
    .Contact {
        margin: 15px;
    }

    .post h2 {
        font-size: 20px;
        font-family: MicrosoftYaHei;
        font-weight: bold;
        color: #333333;
    }

    .post-ask,
    .post-map {
        font-size: 14px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #999;
    }

    .post-map {
        color: #333;
    }

    .row-title {
        position: relative;
        padding: 10px 0;
    }

    .title-hr {
        margin: 0;
        padding: 10px 0;
        font-size: 16px;
        font-weight: 600;
        position: relative;
        z-index: 10;
    }

    .title-hr span {
        background: #fff;
        font-weight: 600;
        padding-right: 20px;
    }

    .hr10 {
        margin: 0;
        position: absolute;
        top: 55%;
        left: 0;
        right: 0;
    }


}

@media(max-width: 770px) {
    .navbar-right {
        margin-right: 20px;
    }

    .item .container {
        padding: 0;
        background: #F7F6F9;
    }

    .item-left-wap,
    .item-right-wap {
        background: #fff;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .nav-post {
        background: #F5F7FB;
        font-size: 16px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
    }

    .nav-post li {
        -webkit-box-flex: 1;
        line-height: 50px;
        padding-left: 20px;
    }

    .nav-post li .line-b {
        width: 20px;
        height: 3px;
        background: rgba(48, 108, 228, 1);
        border-radius: 2px;
        display: block;
        margin-left: 10%;
        display: none;
    }

    .nav-post li:hover .line-b,
    .nav-post li.active .line-b {
        display: block;
    }

    .nav-post li a {
        color: #333;
    }

    .nav-post li:hover a,
    .nav-post li.active a {
        color: #306CE4;
        font-weight: 600;
    }

    .tab-pane li {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        font-size: 15px;
        margin: 0 20px;
    }

    .tab-pane li:last-child {
        border: none;
    }

    .tab-pane li a {
        color: #666
    }

    .tab-pane li a:hover {
        color: #306CE4;
    }



}